[user]
	name = Stanislav Makar
  email = smakar@mirantis.com
[merge]
  tool = vimdiff
[push]
	default = matching
[gitreview]
  username = smakar
[alias]
  st = status
  ci = commit --verbose -a
  ciam = commit --verbose -a --amend
  cim = commit -a -m 
  co = checkout
  cob = checkout -b
  di = diff
  dc = diff --cached
  aa = add --all

[core]
  editor = vim
  whitespace = blank-at-eol,blank-at-eof
[commit]
  template = ~/.gitmessage.txt
