[user]
	name = Stas Makar
  email = smakar@mirantis.com
[merge]
  tool = vimdiff
[gitreview]
  username = smakar
[alias]
  st = status
  ci = commit --verbose
  co = checkout
  di = diff
  dc = diff --cached
  aa = add --all

